<!--div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="title left">Generate Password</div>
	</div>
</div-->
<div class="palm-list">
	<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
		<div class="title passText">
			<!--div id="passField" x-mojo-element="TextField">Default</div-->
			<div id="passField">Default</div>
		</div>
	</div>
</div>
<div class="palm-divider solid"></div>
<table width="100%">
	<tr>
		<td width="50%"><div id="genButton" x-mojo-element="Button"></div></td>
		<td width="50%"><div id="copyButton" x-mojo-element="Button"></div></td>
	</tr>
</table>
<div class="palm-group unlabeled">
	<div class="palm-list">
		<div style="min-height: 60px" class="palm-row first">
			<div  class="palm-row-wrapper">

					<div class="list-ip" id="passLengthIP" x-mojo-element="IntegerPicker"></div>
					<div class="list-ip-title" style="float: left; margin-top:3px;">Password Length</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div id="numbersCB" x-mojo-element="CheckBox" class="right"></div>
				<div class="title">Numbers</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div id="symbolsCB" x-mojo-element="CheckBox" class="right"></div>
				<div class="title">Symbols</div>
			</div>
		</div>


		<div class="palm-row last">
			<div class="palm-row-wrapper">
				<div id="mixedCaseCB" x-mojo-element="CheckBox" class="right"></div>
				<div class="title">Mixed Case</div>
			</div>
		</div>
	</div>
</div>

<div id="historyButton" x-mojo-element="Button"></div>
<div class="scroll-fade-bottom" x-mojo-scroll-fade="bottom"></div>