<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="title left">Passify Preferences</div>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title">Password History</div>
	<div class="palm-list">
		<div class="palm-row first">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ToggleButton" id="keepHistoryTB"></div>
				<div class="title left">Keep History</div>
			</div>
		</div>
		<div class="palm-row last">
			<div class="palm-row-wrapper"-->
				<div x-mojo-element="ListSelector" id="historySizeLS"></div>
			</div-->
		</div>
	</div>
</div>