<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="title left">Passify Preferences</div>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title">Password History</div>
	<div class="palm-list">
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ToggleButton" id="keepHistoryTB"></div>
				<div class="title left">Keep History</div>
			</div>
		</div>
		<div id="histPrefsDrawer" x-mojo-element="Drawer">
			<div class="palm-list last">
				<div class="palm-row drawer-row">
					<div class="palm-row-wrapper">
							<div class="list-ip" x-mojo-element="IntegerPicker" id="historySizeIP"></div>
							<div class="list-ip-title" x-mojo-loc="">Passwords in History</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="palm-row last drawer-bottom">
			<div class="palm-row-wrapper">
			</div>
		</div>
	</div>
</div>