/* Put Application specific CSS here. */

.passText {
	color: red;
	font-weight: bold;
	text-align: center;
}

.palm-page-header .subtitle {
	margin-top: -15px;
	padding: 0 15px 15px 15px;
}

.bottom-scroll-fade {
	position: fixed; 
	bottom: 0; 
	z-index: 100000;
	height: 40px; 
	width: 100%;
	background: url(../images/bottom-gradient.png) bottom center repeat-x;
	-webkit-palm-mouse-target: ignore;
}

/* Custom list selector style */
.palm-list-selector {
  text-align: right;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-weight: normal;
}

.palm-list-selector .label {
  float: left;
  text-align: left;
  color: #0e0e0e;
  text-shadow: none;
  font-size: 20px;
  margin-top: 3px;
  text-transform: none;
  padding-left: -5px;
  margin-left: -5px;
	position: relative;
}



.textfield-group .palm-list-selector {
  height: 28px;
  margin: 0px;
  padding: 0px;
}

.textfield-group .palm-list-selector .title {
  margin-top: 10px !important;
  padding-top: 20px;
}

/*
.palm-row .list-selector-triangle {
  float: right;
  width: 10px;
  height: 10px;
  margin: 6px -4px 0 4px;
  background: url(../images/list-selector-triangle.png) top no-repeat;
}
*/